html {
    font-family: "Oswald";
    font-size: 25px;
}

#main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 25px;
    opacity: 0;
    transition: opacity 1.3s linear;
    /*position: relative;*/
}

#background {
    position: absolute;
    background: url("files/img/homeimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(3px);
    height: 105%;
    width: 105%;
    opacity: 0;
    left: -2%;
    top: -2%;
    transition: all .5s linear;
}

@-webkit-keyframes outerRotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
   }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
   }
}
@-moz-keyframes outerRotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
   }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
   }
}
@-o-keyframes outerRotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
   }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
   }
}
@keyframes outerRotate1 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
   }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
   }
}
@-webkit-keyframes outerRotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
   }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
   }
}
@-moz-keyframes outerRotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
   }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
   }
}
@-o-keyframes outerRotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
   }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
   }
}
@keyframes outerRotate2 {
    0% {
        transform: translate(-50%, -50%) rotate(0);
   }
    100% {
        transform: translate(-50%, -50%) rotate(-360deg);
   }
}

#loading {
    opacity: 0;
    transition: opacity .3s linear;
}

#menu {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.0);
    display: flex;
    flex-direction: row;
    margin: 5px auto;
    text-align: center;
    transition: all .1s linear;
}

#menu:hover {
    background-color: rgba(0, 0, 0, 0.486);
    transition: all .1s linear;
}

#menuitem {
    position: relative;
    display: inline-block;
    overflow: auto;
    width: 100%;
    top: 10px;
    height: 40px;
    color: white;
    margin: 5px 5px;
    font-size: 20px;
}

underitem {
    position: absolute;
    top: 75%;
    left: 50%;
    height: 2px;
    width: 2px;
    border-radius: 50%;
    opacity: 0;
    color: white;
    background-color: white;
    transition: .2s linear opacity;
    transform: translate(-50%, -50%);
}

#mtxt {
    position: relative;
    bottom: 20px;
    user-select: none;
}

.e-loadholder {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    width: 240px;
    height: 240px;
    border: 5px solid #1b5f70;
    border-radius: 120px;
    box-sizing: border-box;
}

.e-loadholder:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    content: " ";
    display: block;
    background: #222;
    transform-origin: center;
    z-index: 0;
}

.e-loadholder:after {
    width: 100px;
    height: 200%;
    -webkit-animation: outerRotate2 30s infinite linear;
    -moz-animation: outerRotate2 30s infinite linear;
    -o-animation: outerRotate2 30s infinite linear;
    animation: outerRotate2 30s infinite linear;
}

.e-loadholder .m-loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    width: 200px;
    height: 200px;
    color: #888;
    text-align: center;
    border: 5px solid #2a93ae;
    border-radius: 100px;
    box-sizing: border-box;
    z-index: 20;
    text-transform: uppercase;
}

  .e-loadholder .m-loader:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    content: " ";
    display: block;
    background: #222;
    transform-origin: center;
    z-index: -1;
}

.e-loadholder .m-loader:after {
    width: 100px;
    height: 106%;
    -webkit-animation: outerRotate1 15s infinite linear;
    -moz-animation: outerRotate1 15s infinite linear;
    -o-animation: outerRotate1 15s infinite linear;
    animation: outerRotate1 15s infinite linear;
}

  .e-loadholder .m-loader .e-text {
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 130px;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 250;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    display: flex;
    width: 140px;
    height: 140px;
    text-align: center;
    border: 5px solid #3bb2d0;
    border-radius: 70px;
    box-sizing: border-box;
    z-index: 20;
}

.e-loadholder .m-loader .e-text:before, .e-loadholder .m-loader .e-text:after {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    content: " ";
    display: block;
    background: #222;
    transform-origin: center;
    z-index: -1;
}

.e-loadholder .m-loader .e-text:before {
    width: 110%;
    height: 40px;
    -webkit-animation: outerRotate2 3.5s infinite linear;
    -moz-animation: outerRotate2 3.5s infinite linear;
    -o-animation: outerRotate2 3.5s infinite linear;
    animation: outerRotate2 3.5s infinite linear;
}

  .e-loadholder .m-loader .e-text:after {
    width: 40px;
    height: 110%;
    -webkit-animation: outerRotate1 8s infinite linear;
    -moz-animation: outerRotate1 8s infinite linear;
    -o-animation: outerRotate1 8s infinite linear;
    animation: outerRotate1 8s infinite linear;
}

#particleCanvas-White {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    width: 100%;
    height: 98%;
    opacity: 0.1;
}

#particleCanvas-Blue {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    width: 400px;
    height: 400px;
}

#home {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 20%;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity .3s linear;

}

#particlesjs {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-51%, -50%);
    -moz-transform: translate(-51%, -50%);
    -ms-transform: translate(-51%, -50%);
    -o-transform: translate(-51%, -50%);
    transform: translate(-51%, -50%);
    width: 100%;
    height: 98%;
    opacity: 0.3;
    filter: blur(1px);
}

.midtxt {
  position: absolute;
  color: white;
  font-size: 50px;
  top: 37.5%;
  width: 500px;
  text-align: center;
  user-select: none;
}

#curstats {
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 20%;
    opacity: 0;
    transition: opacity .3s linear;
    -webkit-app-region: no-drag;
}

#hygro {
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    left: 2.5%;
}

#temp {
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    right: 2.5%;
}

#poid {
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    left: 2.5%;
    top: 60%;
}

#counter {
    position: absolute;
    width: 400px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 3px;
    top: 60%;
    right: 2.5%;
    -webkit-app-region: no-drag;
}

#tiletitle {
    position: absolute;
    top: 5px;
    left: 10px;
    color: white;
    font-size: 25px;
    text-align: center;
    border-bottom: .5px solid currentColor;
    display: flex;
    user-select: none;
}

#masseplus {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 25px;
    text-align: center;
    display: flex;
    width: 25px;
    height: 25px;
    transition: color .1s linear;
    z-index: 10;
    user-select: none;
    -moz-user-select: none;
    -webkit-app-region: no-drag;
}

#masseplus:hover {
    transition: color .1s linear;
    color: #1d90f5;
}

#counterplus {
    position: absolute;
    top: 15px;
    right: 15px;
    color: white;
    font-size: 25px;
    text-align: center;
    display: flex;
    width: 25px;
    height: 25px;
    transition: color .1s linear;
    z-index: 10;
    user-select: none;
    -moz-user-select: none;
    -webkit-app-region: no-drag;
}

#counterplus:hover {
    transition: color .1s linear;
    color: #1d90f5;
}

#masstxt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
}

#hygrobr {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 5%;
    top: 25%;
}

#hygrointbr {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 50%;
    top: 25%;
}

#tempbr {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 5%;
    top: 25%;
}

#avgvi {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 50px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 30px;
}

#tempintbr {
    position: absolute;
    width: 170px;
    height: 170px;
    left: 50%;
    top: 25%;
}

#dascroix {
    position: absolute;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.75);
    right: 10px;
    top: 5px;
    transition: color .5s linear;
    user-select: none;
    -moz-user-select: none;
    -webkit-app-region: no-drag;
}

#dascroix:hover {
    color: #ef351c;
    transition: color .2s linear;
}

#daspleinecran {
  position: absolute;
  font-size: 25px;
  color: rgba(255, 255, 255, 0.75);
  right: 30px;
  top: 8px;
  transition: color .5s linear;
  user-select: none;
  -moz-user-select: none;
  -webkit-app-region: no-drag;
}

#daspleinecran:hover {
  color: #1d90f5;
  transition: color .2s linear;
}

#followstats {
    position: absolute;
    width: 1000px;
    height: 500px;
    top: 20%;
    opacity: 0;
    transition: opacity .3s linear;
}

#graph1 {
    position: absolute;
    width: 1000px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 3px;
}

#ingraph {
    position: absolute;
    top: 3%;
}

#version {
    position: absolute;
    bottom: 8px;
    right: 16px;
    color: white;
    font-size: 10px;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    z-index: 10;
    user-select: none;
    -moz-user-select: none;
    -webkit-app-region: no-drag;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.59, -0.17, 0.3, 1.67);
    z-index: 10000;
    top: 0%;
}

.overlay.is-open {
    opacity: 1;
    pointer-events: auto;
}

.overlay.is-open .modal {
    transform: translate(0px, 0px);
}

.modal {
    transform: translate(0px, -50px);
    transition: all 0.7s cubic-bezier(0.59, -0.17, 0.3, 1.67);
    position: relative;
    padding: 30px;
    width: 400px;
    background-color: rgba(37, 37, 37, 0.691);
    color: #231d23;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal .lead {
    font-size: 24px;
    margin-top: 10px;
}

.modal .tagline {
    margin-bottom: 40px;
    color: firebrick;
    font-size: 18px;
}

.modal .close-btn {
    position: absolute;
    padding: 3px 9px;
    font-size: 20px;
    text-align: center;
    background: #e53e14;
    color: #9c9c9c;
    top: -1px;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-app-region: no-drag;
}

.modal .close-btn:hover {
    transform: scale(1.2);
}

.overlay2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.59, -0.17, 0.3, 1.67);
    z-index: 10000;
    top: 0%;
}

.overlay2.is-open2 {
    opacity: 1;
    pointer-events: auto;
}

.overlay2.is-open2 .modal {
    transform: translate(0px, 0px);
}

.modal2 {
    transform: translate(0px, -50px);
    transition: all 0.7s cubic-bezier(0.59, -0.17, 0.3, 1.67);
    position: relative;
    padding: 30px;
    width: 1000px;
    background-color: rgba(37, 37, 37, 0.691);
    color: #231d23;
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.4);
}

.modal2 .lead {
    font-size: 24px;
    margin-top: 10px;
    color: white;
}

.modal2 .tagline {
    margin-bottom: 40px;
    color: firebrick;
    font-size: 18px;
}

.modal2 .close-btn2 {
    position: absolute;
    padding: 3px 9px;
    font-size: 20px;
    text-align: center;
    background: #e53e14;
    color: #9c9c9c;
    top: -1px;
    right: 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-app-region: no-drag;
}

.modal2 .close-btn2:hover {
    transform: scale(1.2);
}

#chritems {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25px;
    margin: 5px auto;
    text-align: center;
}

#chrdataitem {
    position: relative;
    display: inline-block;
    overflow: auto;
    width: 100%;
    height: 25px;
    color: #000000;
    margin: 5px 5px;
    background-color: rgb(0, 0, 0);
    box-shadow: 0 0 3px #5858589d;
    border-radius: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 10px;
}

#itemtxt {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}